<div class="container-fluid portfolio">
    <div class="row centered">

        <div class="col-lg-6 align-self-center">
                <h7>{{portfolioSectOne.subtitle}}</h7>
                <h3>{{portfolioSectOne.title}}</h3>
                <p class="">
                    {{portfolioSectOne.text}}
                </p>
        </div>
        <div class="col-lg-6">
            <img src="{{portfolioSectOne.image}}" alt="" width="100%" >
        </div>

    </div>
    <div class="row graySection centered">
        <div class="col-lg-6 order-2 order-lg-1 ">
            <img src="{{portfolioSectTwo.image}}" alt="" width="100%" >
        </div>
        <div class="col-lg-6 order-1 order-lg-2 align-self-center">
                <h3>Переваги</h3>
                <p class="">
                {{#each portfolioSectTwo.items}}
                   - {{this}}
                    <br>
                {{/each}}

                </p>
        </div>

    </div>
    <div class="row centered">

        <div class="col-lg-6 align-self-center">
                <h7>FRAGEMGG</h7>
                <h3>Игровая платформ</h3>
                <p class="">
                    Платформа, где Вы можете проверить свои силы и посоревноваться с другими игроками CS GO.
                </p>
        </div>
        <div class="col-lg-6">
            <img src="http://beonepage.shlk.org.ua/wp-content/uploads/2019/11/fragem1.png" alt="" width="100%" >
        </div>

    </div>
</div>
