<div class="container-fluid portfolio" id="portfolio">
    <div class="row centered">

        <div class="col-lg-6 align-self-center">
            <h4>{{portfolioSectOne.subtitle}}</h4>
            <h2>{{portfolioSectOne.title}}</h2>
            <p class="">
                {{portfolioSectOne.text}}
            </p>
        </div>
        <div class="col-lg-6">
            <img src="/images/{{ portfolioData.urlcode }}/{{portfolioSectOne.image}}" alt="" width="100%" >
        </div>
    </div>
    <div class="row graySection centered">
        <div class="col-lg-6 order-2 order-lg-1 ">
            <img src="/images/{{ portfolioData.urlcode }}/{{portfolioSectTwo.image}}" alt="" width="100%" >
        </div>
        <div class="col-lg-6 order-1 order-lg-2 align-self-center">
            <h3>Технологии</h3>
            <p class="">
                {{#each portfolioSectTwo.items}}
                   - {{this}}
                    <br>
                {{/each}}
            </p>
        </div>
    </div>
    <div class="row centered">
        <div class="col-lg-6">
            <img src="/images/{{ portfolioData.urlcode }}/{{portfolioSectThree.image_1}}" alt="" width="100%" >
        </div>
        <div class="col-lg-6">
            <img src="/images/{{ portfolioData.urlcode }}/{{portfolioSectThree.image_2}}" alt="" width="100%" >
        </div>
    </div>
</div>
